
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>Welcome to the Acme site!</h2>
    <p>We are glad to see you</p>

    <a href="/" class="btn btn-lg btn-primary">Get Started</a>
    <a href="/contact" class="btn btn-lg btn-primary">Contact</a>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  This is just a dummy web page server to demonstrate various CI/CD concepts from the ORS team
</div>
